* {
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}

body{
    color: #555;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1;
} 

html {
    font-size: 62.5%;
}

/*****************************************************/
/*************** General components ******************/
/*****************************************************/

.btn:link, 
.btn:visited{
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    text-decoration: none;
    transition: all 1s;
}

.btn--primary:link,
.btn--primary:visited{
    background-color: #e67e22;
}

.btn--primary:hover,
.btn--primary:active{
    background-color: #c4610c;
}

.btn--secondary:link,
.btn--secondary:visited{
    background-color: #fff;
    color: #e67e22;
}

.btn--secondary:hover,
.btn--secondary:active{
    background-color: #fdf2e9;
    color: #555;
    /* border: 3px solid #fff; */
    box-shadow: inset 0 0 0 3px #fff;
}

.heading-primary,
.heading-secondary {
    color: #333;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.heading-primary{
    font-size: 5.2rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.heading-secondary{
    font-size: 4.4rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.subheading {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color:#c4610c;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

.margin-right-sm {
    margin-right: 2rem !important;
}

.grid{
    display: grid;
    gap: 9.6rem;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid--2--columns {
    grid-template-columns: repeat(2,1fr);
}

.grid--3--columns {
    grid-template-columns: repeat(3,1fr);
}

.grid--4--columns {
    grid-template-columns: repeat(4,1fr);
}

/*****************************************************/
/***************      Header        ******************/
/*****************************************************/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;
}

.logo {
    height: 2.2rem;
}

.main-nav-list{
    list-style: none;
    display: flex;
    gap: 3.2rem;
    align-items: center;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.6rem 2.4rem;
    border-radius: 6px;
    color: #fff;
    background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #c4610c;
    border: none;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active{
    color: #c4610c;
}

/*****************************************************/
/***************    Hero section    ******************/
/*****************************************************/


.hero{
    align-items: center;
    display: grid;
    gap: 9.6rem;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 130rem;
    padding: 0 3.2rem;
}

.hero-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.hero-img{
    width: 100%;
}

.section-hero{
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.delivered-meals{
    align-items: center;
    display: flex;
    gap: 1.6rem;
    margin-top: 8rem;
}

.delivered-imgs{
    display: flex;
}

.delivered-imgs img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 2px solid #fdf2e9;
}

.delivered-imgs img:last-child{
    margin: 0;
}


.delivered-text{
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span{
    color:#cf711f;
    font-weight: 700;
}

/*****************************************************/
/***************    section How     ******************/
/*****************************************************/

.section-how {
    padding: 9.6rem 0;
}

.step-img {
    width: 50%;
}

