* {
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}

body{
    color: #555;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1;
} 

html {
    font-size: 62.5%;
}

.btn:link, 
.btn:visited{
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    text-decoration: none;
    transition: all 1s;
}

.btn--primary:link,
.btn--primary:visited{
    background-color: #e67e22;
}

.btn--primary:hover,
.btn--primary:active{
    background-color: #c4610c;
}

.btn--secondary:link,
.btn--secondary:visited{
    background-color: #fff;
    color: #e67e22;
}

.btn--secondary:hover,
.btn--secondary:active{
    background-color: #fdf2e9;
    color: #555;
    /* border: 3px solid #fff; */
    box-shadow: inset 0 0 0 3px #fff;
}

.heading-primary{
    color: #333;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.hero{
    align-items: center;
    display: grid;
    gap: 9.6rem;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 130rem;
}

.hero-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.hero-img{
    width: 100%;
}

.margin-right-sm {
    margin-right: 2rem !important;
}

.section-hero{
    background-color: #fdf2e9;
    padding: 9.6rem 0;
}

.delivered-meals{
    align-items: center;
    display: flex;
    gap: 1.6rem;
    margin-top: 8rem;
}

.delivered-imgs{
    display: flex;
}

.delivered-imgs img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 2px solid #fdf2e9;
}

.delivered-imgs img:last-child{
    margin: 0;
}


.delivered-text{
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span{
    color:#cf711f;
    font-weight: 700;
}